# Data files
*.nc
*.csv

# Model outputs
*.h5
*.json
keras_tensorboard/
*.png

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
env/